<div class="container">
  <form>

    <div class="mb-3 row">
      <label for="inputName" class="col-4 col-form-label">Id</label>
      <div class="col-8">
        <input type="text" class="form-control" name="inputId" id="inputId" [(ngModel)]="concurso.id"/>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="inputName" class="col-4 col-form-label">Concurso</label>
      <div class="col-8">
        <input type="text" class="form-control" name="inputName" id="inputName" [(ngModel)]="concurso.nome"/>
      </div>
    </div>

    @for (materia of concurso.materias; track $index) {
      <div class="mb-3 row">
        <label for="inputName" class="col-4 col-form-label">Materia {{$index}}</label>
        <div class="col-8">
          <input type="text" class="form-control" name="inputName" id="inputName" value="{{materia.nome}}"/>
        </div>
      </div>
    }

    <fieldset class="mb-3 row">
      <legend class="col-form-legend col-4">
        Informações sobre este concurso
      </legend>
      <div class="col-8">
        <textarea name="" id="" cols="102" rows="10"></textarea>
      </div>
    </fieldset>

    <div class="mb-3 row">
      <div class="offset-sm-4 col-sm-8">
        <button type="submit" class="btn btn-primary">
          Salvar
        </button>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="offset-sm-4 col-sm-8">
        <button type="submit" class="btn btn-primary">
          Excluir
        </button>
      </div>
    </div>

  </form>
</div>